$icons-font-path: '../plugins/semantic-ui-scss/icons/';
$flags-image-path: '../plugins/semantic-ui-scss/images/';

//FontÔúÅ
$body-font-size: 14px;
$import-google-fonts: true;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext';
$font-name: 'Lato';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Colors
// Body
$body-bg-color:#FFFFFF;
$body-font-color:rgba(0, 0, 0, 0.87);

//Font
$font-color: rgba(0, 0, 0, 0.87);
$secondary-font: rgba(0, 0, 0, 0.4);

//links Variables
$a-font-color:#4183C4;
$a-hover-font-color: #1e70bf;

//Primary
$primary-color:#2185D0;
$primary-color--hover:#1678c2;
$primary-color--focus: #0d71bb;
$primary-color--active: #1a69a4;
$primary-color-active:#1279c6;
$primary-color-active--active:#1279c6;

//Secondary
$secondary-color:#1B1C1D;
$secondary-color--hover:#27292a;
$secondary-color--focus: #2e3032;
$secondary-color--active: #343637;
$secondary-color-active:#27292a;
$secondary-color-active--active:#27292a;

//Default
$default-color:#E0E1E2;
$default-font-color:#rgba(0, 0, 0, 0.6);
$default-color--active:#BABBBC;
$default-font-color--active:#rgba(0, 0, 0, 0.9);
$default-color--hover:#CACBCD;
$default-font-color--hover:#rgba(0, 0, 0, 0.8);
$default-color--focus:#CACBCD;
$default-font-color--focus:#rgba(0, 0, 0, 0.8);
$default-active-color:#C0C1C2;
$default-active-font-color:#rgba(0, 0, 0, 0.95);
$default-active-color--active:#C0C1C2;
$default-active-color--hover:#C0C1C2;
$default-active-font-color--hover:#rgba(0, 0, 0, 0.95);
$default-active-color--focus:#BABBBC;
$default-active-font-color--focus:#rgba(0, 0, 0, 0.9);




//Basic
$red:#DB2828;
$orange:#F2711C;
$yellow:#FBBD08;
$olive:#B5CC18;
$green:#21BA45;
$teal:#00B5AD;
$blue:#2185D0;
$violet:#6435C9;
$purple:#A333C8;
$pink:#E03997;
$brown:#A5673F;
$grey:#767676;
$white:#FFFFFF;
$inverted-label:rgba(255, 255, 255, 0.9);
$inverted-red:#FF695E;
$inverted-orange:#FF851B;
$inverted-yellow:#FFE21F;
$inverted-olive:#D9E778;
$inverted-green:#2ECC40;
$inverted-teal:#6DFFFF;
$inverted-blue:#54C8FF;
$inverted-violet:#A291FB;
$inverted-purple:#DC73FF;
$inverted-pink:#FF8EDF;
$inverted-brown:#D67C1C;
$inverted-grey:#DCDDDE;


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ import
@import '../plugins/semantic-ui-scss/scss/variables/global';
@import '../plugins/semantic-ui-scss/scss/mixins/mix';

@import '../plugins/semantic-ui-scss/scss/globals/reset';
@import '../plugins/semantic-ui-scss/scss/globals/site';


@import '../plugins/semantic-ui-scss/scss/elements/button';
@import '../plugins/semantic-ui-scss/scss/elements/container';
@import '../plugins/semantic-ui-scss/scss/elements/divider';
// @import '../plugins/semantic-ui-scss/scss/elements/flag';
@import '../plugins/semantic-ui-scss/scss/elements/header';
@import '../plugins/semantic-ui-scss/scss/elements/icon';
@import '../plugins/semantic-ui-scss/scss/elements/image';
@import '../plugins/semantic-ui-scss/scss/elements/input';
@import '../plugins/semantic-ui-scss/scss/elements/label';
@import '../plugins/semantic-ui-scss/scss/elements/list';
@import '../plugins/semantic-ui-scss/scss/elements/loader';
@import '../plugins/semantic-ui-scss/scss/elements/rail';
@import '../plugins/semantic-ui-scss/scss/elements/reveal';
@import '../plugins/semantic-ui-scss/scss/elements/segment';
@import '../plugins/semantic-ui-scss/scss/elements/step';

@import '../plugins/semantic-ui-scss/scss/collections/breadcrumb';
@import '../plugins/semantic-ui-scss/scss/collections/form';
@import '../plugins/semantic-ui-scss/scss/collections/grid';
@import '../plugins/semantic-ui-scss/scss/collections/menu';
@import '../plugins/semantic-ui-scss/scss/collections/message';
@import '../plugins/semantic-ui-scss/scss/collections/table';

@import '../plugins/semantic-ui-scss/scss/views/ad';
@import '../plugins/semantic-ui-scss/scss/views/card';
@import '../plugins/semantic-ui-scss/scss/views/comment';
@import '../plugins/semantic-ui-scss/scss/views/feed';
@import '../plugins/semantic-ui-scss/scss/views/item';
@import '../plugins/semantic-ui-scss/scss/views/statistic';

@import '../plugins/semantic-ui-scss/scss/modules/accordion';
@import '../plugins/semantic-ui-scss/scss/modules/checkbox';
@import '../plugins/semantic-ui-scss/scss/modules/dimmer';
@import '../plugins/semantic-ui-scss/scss/modules/dropdown';
@import '../plugins/semantic-ui-scss/scss/modules/embed';
@import '../plugins/semantic-ui-scss/scss/modules/modal';
@import '../plugins/semantic-ui-scss/scss/modules/nag';
@import '../plugins/semantic-ui-scss/scss/modules/popup';
@import '../plugins/semantic-ui-scss/scss/modules/progress';
@import '../plugins/semantic-ui-scss/scss/modules/rating';
@import '../plugins/semantic-ui-scss/scss/modules/search';
@import '../plugins/semantic-ui-scss/scss/modules/shape';
@import '../plugins/semantic-ui-scss/scss/modules/sidebar';
@import '../plugins/semantic-ui-scss/scss/modules/sticky';
@import '../plugins/semantic-ui-scss/scss/modules/tab';
@import '../plugins/semantic-ui-scss/scss/modules/transition';
@import '../plugins/semantic-ui-scss/scss/modules/video';


// ~~~~~~~
@import "inc/layout";