{
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions", "> 1% in KR"]
    }
  }], "react", "stage-0"],

  "sourceMaps": true,

  "env": {
    "production": {
      "plugins": [
        "add-module-exports",
        ["lodash", {"id": ["lodash", "semantic-ui-react"]}]
      ]
    },
    "development": {
      "plugins": [
        "add-module-exports",
        ["lodash", {"id": ["lodash", "semantic-ui-react"]}],
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [["env", {
        "targets": {
          "node": "current"
        }
      }], "react", "stage-0"],
      "plugins": [
        "add-module-exports",
        ["lodash", {"id": ["lodash", "semantic-ui-react"]}]
      ]
    }
  }
}
