$ease-in-expo:      cubic-bezier(0.950,  0.050, 0.795, 0.035);

//============== axui-tooltip
$axui-tooltip-padding: 3px 7px !default;
$axui-tooltip-color: #fff !default;
$axui-tooltip-font-size: 11px !default;
$axui-tooltip-font-family: inherit !default;
$axui-tooltip-font-weight: inherit !default;
$axui-tooltip-line-height: 1.5em !default;
$axui-tooltip-arrow-size: 5px !default;
$axui-tooltip-bg-color: rgba(1, 1, 1, 0.5) !default;
$axui-tooltip-border-radius: 3px !default;

$axui-tooltip-appear-duration: 0.1s  !default;
$axui-tooltip-appear-ease: $ease-in-expo !default;
$axui-tooltip-appear-delay: 0.3s !default;