/* This style designed like OSX */

$rewm-contextmenu-bg-color: #f3f3f3 !default;
$rewm-contextmenu-border-width: 0.5px !default;
$rewm-contextmenu-border-style: solid !default;
$rewm-contextmenu-border-color: rgba(0, 0, 0, 0.2) !default;
$rewm-contextmenu-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3) !default;
$rewm-contextmenu-border-radius: 6px !default;
$rewm-contextmenu-padding-size: 4px !default;
$rewm-contextmenu-min-width: 130px !default;

/* contenxtmenu-item */
$rewm-contextmenu-item-font-size: 14px !default;
$rewm-contextmenu-item-font-color: #434343 !default;
$rewm-contextmenu-item-font-weight: 400 !default;

$rewm-contextmenu-item-padding: 3px 4px !default;
$rewm-contextmenu-item-line-height: 14px !default;
$rewm-contextmenu-item-checkbox-width: 14px !default;

/* menubar */
$rewm-menubar-item-font-color: #434343 !default;
$rewm-menubar-item-font-weight: 400 !default;
$rewm-menubar-item-padding: 0 10px !default;

/* item on hover */
$rewm-menu-item-hover-bg-color: #0057d9 !default;
$rewm-menu-item-hover-font-color: #fff !default;

$rewm-menu-separator-height: 2px !default;
$rewm-menu-separator-color: #e5e5e5 !default;
$rewm-menu-separator-margin: 5px 0 !default;
