@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;

@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      @if $prefix-for-webkit {
        -webkit-#{$property}: $value;
      }
    } @else if $prefix == moz {
      @if $prefix-for-mozilla {
        -moz-#{$property}: $value;
      }
    } @else if $prefix == ms {
      @if $prefix-for-microsoft {
        -ms-#{$property}: $value;
      }
    } @else if $prefix == o {
      @if $prefix-for-opera {
        -o-#{$property}: $value;
      }
    } @else if $prefix == spec {
      @if $prefix-for-spec {
        #{$property}: $value;
      }
    } @else {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}


@mixin transform($property: none) {
  // none | <transform-function>
  @include prefixer(transform, $property, webkit moz ms o spec);
}


@mixin tooltip-direction($direction) {
  @if $direction == top {
    &:hover {
      &:before {
        top: - $axui-tooltip-arrow-size;
        bottom: auto;
        left: auto;
        right: 50%;
        border: $axui-tooltip-arrow-size solid transparent;
        border-top-color: $axui-tooltip-bg-color;
        @include transform(translateX(50%));
      }
      &:after {
        top: auto;
        bottom: 100%;
        left: auto;
        right: 50%;
        @include transform(translateX(50%));
        margin: 0;
        margin-bottom: $axui-tooltip-arrow-size;
      }
    }
  }
  @if $direction == bottom {
    &:hover {
      &:before {
        top: auto;
        bottom: - $axui-tooltip-arrow-size;
        left: auto;
        right: 50%;
        border: $axui-tooltip-arrow-size solid transparent;
        border-bottom-color: $axui-tooltip-bg-color;
        @include transform(translateX(50%));
      }
      &:after {
        top: 100%;
        bottom: auto;
        left: auto;
        right: 50%;
        @include transform(translateX(50%));
        margin: 0;
        margin-top: $axui-tooltip-arrow-size;
      }
    }
  }
  @if $direction == left {
    &:hover {
      &:before {
        top: 50%;
        bottom: auto;
        left: - $axui-tooltip-arrow-size;
        right: auto;
        border: $axui-tooltip-arrow-size solid transparent;
        border-left-color: $axui-tooltip-bg-color;
        @include transform(translateX(0) translateY(-50%));
      }
      &:after {
        top: 50%;
        bottom: auto;
        left: auto;
        right: 100%;
        @include transform(translateY(-50%));
        margin: 0;
        margin-right: $axui-tooltip-arrow-size;
      }
    }
  }
  @if $direction == right {
    &:hover {
      &:before {
        top: 50%;
        bottom: auto;
        left: auto;
        right: - $axui-tooltip-arrow-size;
        border: $axui-tooltip-arrow-size solid transparent;
        border-right-color: $axui-tooltip-bg-color;
        @include transform(translateX(0) translateY(-50%));
      }
      &:after {
        top: 50%;
        bottom: auto;
        left: 100%;
        right: auto;
        @include transform(translateY(-50%));
        margin: 0;
        margin-left: $axui-tooltip-arrow-size;
      }
    }
  }
}

@mixin data-axui-tooltip {
  position: relative;
  &:hover {
    &:before, &:after {
      display: inline-block;
      text-decoration: none;
      pointer-events: none;
      //@include animation(ax-tooltip-appear $axui-tooltip-appear-duration $axui-tooltip-appear-ease $axui-tooltip-appear-delay forwards);
    }
    &:before { // arrow
      position: absolute;
      z-index: 10000001;
      width: 0;
      height: 0;
      content: '';
      opacity: 1;
    }
    &:after { // label
      position: absolute;
      z-index: 10000000;
      -webkit-font-smoothing: subpixel-antialiased;
      text-align: center;

      word-wrap: break-word;
      white-space: pre;
      content: attr(data-axui-tooltip);
      opacity: 1;

      color: $axui-tooltip-color;
      font-family: $axui-tooltip-font-family;
      font-size: $axui-tooltip-font-size;
      font-weight: $axui-tooltip-font-weight;
      background: $axui-tooltip-bg-color;
      line-height: $axui-tooltip-line-height;

      border-radius: $axui-tooltip-border-radius;
      padding: $axui-tooltip-padding;
    }
  }

  @include tooltip-direction(bottom);

  &.tooltip-bottom {
    @include tooltip-direction(bottom);
  }
  &.tooltip-top {
    @include tooltip-direction(top);
  }
  &.tooltip-left {
    @include tooltip-direction(left);
  }
  &.tooltip-right {
    @include tooltip-direction(right);
  }
}