.axui-datagrid-body {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

[data-panel='body-scroll'],
[data-panel='left-body-scroll'],
[data-panel='top-left-body-scroll'],
[data-panel='top-body-scroll'] {
  tr {
    background-color: $axui-datagrid-row-bg-1;
  }
  tr.odded-line {
    background-color: $axui-datagrid-row-bg-0;
  }
}
[data-panel='top-aside-body-scroll'],
[data-panel='aside-body-scroll'],
[data-panel='bottom-aside-body-scroll'] {
  background-color: $axui-datagrid-aside-bg;
  table tr td {
    box-shadow: $axui-datagrid-header-column-box-shadow;
  }
}

[data-panel='top-left-body-scroll'],
[data-panel='left-body-scroll'] {
  @include axui-datagrid-frozen-border('vertical');
}
[data-scroll-container] {
  @include axui-transition(top 0.3s ease);
  z-index: 2;
}
[data-scroll-container='top-aside-body-scroll-container'],
[data-scroll-container='top-left-body-scroll-container'],
[data-scroll-container='top-body-scroll-container'] {
  @include axui-datagrid-frozen-border('horizontal');
}

[data-scroll-container='bottom-aside-body-scroll-container'],
[data-scroll-container='bottom-left-body-scroll-container'],
[data-scroll-container='bottom-body-scroll-container'] {
  background-color: $axui-datagrid-footsum-bg;
  @include axui-datagrid-frozen-border('bottom-horizontal');
  table tr td {
    border-bottom: 0 none;
    border-top: $axui-datagrid-column-border;
  }
}
