.axui-datagrid-body {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

[data-panel='body-scroll'],
[data-panel='left-body-scroll'],
[data-panel='top-left-body-scroll'],
[data-panel='top-body-scroll'] {
  tr {
    background-color: $axui-datagrid-row-bg-1;
  }
  tr.odded-line {
    background-color: $axui-datagrid-row-bg-0;
  }
  tr.added-line {
    background-color: $axui-datagrid-row-added-bg;
    color: $axui-datagrid-row-added-color;
    td.focused {
      color: $axui-datagrid-row-added-color;
    }
  }
  // tr.updated-line {
  //   background-color: $axui-datagrid-row-updated-bg;
  //   td {
  //   }
  // }
  tr.deleted-line {
    background-color: $axui-datagrid-row-deleted-bg;
    color: $axui-datagrid-row-deleted-color;
    td.focused {
      background-color: $axui-datagrid-row-deleted-bg;
      color: $axui-datagrid-row-deleted-color;
    }
  }
  tr.error-line {
    background-color: $axui-datagrid-row-error-bg;
    color: $axui-datagrid-row-error-color;
    td.focused {
      background-color: $axui-datagrid-row-deleted-bg;
      color: $axui-datagrid-row-error-color;
    }
  }
}
[data-panel='top-aside-body-scroll'],
[data-panel='aside-body-scroll'],
[data-panel='bottom-aside-body-scroll'] {
  background-color: $axui-datagrid-aside-bg;
  table tr td {
    box-shadow: $axui-datagrid-header-column-box-shadow;
  }
  table {
    tr.added-line {
      td,
      td.axui-datagrid-line-number.selected {
        background-color: $axui-datagrid-row-added-bg;
        // @include axui-background(
        //   to right,
        //   (
        //     $axui-datagrid-row-added-bg,
        //     darken($axui-datagrid-row-added-bg, 10%)
        //   )
        // );
        box-shadow: none;
      }
    }
    tr.updated-line {
      td,
      td.axui-datagrid-line-number.selected {
        background-color: $axui-datagrid-row-updated-bg;
        // @include axui-background(
        //   to right,
        //   (
        //     $axui-datagrid-row-updated-bg,
        //     darken($axui-datagrid-row-updated-bg, 10%)
        //   )
        // );
        box-shadow: none;
      }
    }
    tr.deleted-line {
      td,
      td.axui-datagrid-line-number.selected {
        background-color: $axui-datagrid-row-deleted-bg;
        // @include axui-background(
        //   to right,
        //   (
        //     $axui-datagrid-row-deleted-bg,
        //     darken($axui-datagrid-row-deleted-bg, 10%)
        //   )
        // );
        box-shadow: none;
      }
    }
    tr.error-line {
      td,
      td.axui-datagrid-line-number.selected {
        @include axui-background(
          to right,
          (
            $axui-datagrid-row-error-bg,
            darken($axui-datagrid-row-error-bg, 10%)
          )
        );
        box-shadow: none;
      }
    }
  }
}

[data-panel='top-left-body-scroll'],
[data-panel='left-body-scroll'] {
  @include axui-datagrid-frozen-border('vertical');
}
[data-scroll-container] {
  @include axui-transition(top 0.3s ease);
  z-index: 2;
}
[data-scroll-container='top-aside-body-scroll-container'],
[data-scroll-container='top-left-body-scroll-container'],
[data-scroll-container='top-body-scroll-container'] {
  @include axui-datagrid-frozen-border('horizontal');
}

[data-scroll-container='bottom-aside-body-scroll-container'],
[data-scroll-container='bottom-left-body-scroll-container'],
[data-scroll-container='bottom-body-scroll-container'] {
  background-color: $axui-datagrid-footsum-bg;
  @include axui-datagrid-frozen-border('bottom-horizontal');
  table tr td {
    border-bottom: 0 none;
    border-top: $axui-datagrid-column-border;
  }
}
