
.segment-content-view {
  min-height: 500px;
}

.ui.vertical.menu {

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0;
    background-color: #313131;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #000;
  }

}

pre {
  margin: 0em 0em 1em;
  font-size: 0.9rem;
  line-height: 1.4em;

  &:last-child {
    margin-bottom: 0em;
  }
}