

.segment-content-view{
  min-height: 500px;
}

.SideNav{
  .ui.vertical.menu {
    background: transparent;
    width: auto;
    box-shadow: none;
    border-radius: 0;
    border: 0 none;
  }
}

pre{
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4em;
}