//==
$axui-datagrid-border: 1px solid #ccc !default;
$axui-datagrid-bg: #fff !default;
$axui-datagrid-font-size: 12px !default;
$axui-datagrid-column-border: 1px solid #ccc !default;
$axui-datagrid-outline: #eee solid 1px !default;

//== header
$axui-datagrid-header-column-color: #222 !default;
$axui-datagrid-header-column-border: 1px solid #ccc !default;
$axui-datagrid-header-column-box-shadow: inset 1px 1px 0 0 #fff !default;
$axui-datagrid-header-column-bg-colors: (#ffffff, #f0f0f0) !default;
$axui-datagrid-header-column-hover-bg-colors: (#eee, #eee) !default;
$axui-datagrid-header-column-resizer-color: #ff3300 !default;
$axui-datagrid-header-column-resizer-size: 4px !default;
$axui-datagrid-header-column-focused-bg-colors: (#f0f0f0, #e1e1e1) !default;
$axui-datagrid-header-column-focused-color: #0581f2 !default;
$axui-datagrid-header-column-sorter-bg-color: #ccc !default;

$axui-datagrid-header-sorter-size: 9px !default;
$axui-datagrid-header-sorter-color: #000 !default;

//== aside
$axui-datagrid-aside-border: 1px solid darken(#ccc, 0%) !default;
$axui-datagrid-aside-bg: #f2f2f2 !default;
$axui-datagrid-aside-column-shadow: inset 1px 1px 0 0 #fff !default;
$axui-datagrid-aside-column-focused-bg-colors: (#f2f2f2, #e1e1e1) !default;
$axui-datagrid-aside-column-focused-color: #0581f2 !default;

$axui-datagrid-frozen-line-border: 1px solid darken(#ccc, 10%) !default;

//== footsum
$axui-datagrid-footsum-bg: #edf5ff !default;
$axui-datagrid-footsum-line-border: 1px solid darken(#ccc, 10%) !default;

//== page
$axui-datagrid-page-border: 1px solid #ccc !default;
$axui-datagrid-page-bg-colors: (#ececec, #dddddd) !default;
$axui-datagrid-page-navigation-padding: 5px !default;
$axui-datagrid-page-navigation-font-size: 12px !default;
$axui-datagrid-page-navigation-btn-min-width: 20px !default;
$axui-datagrid-page-navigation-btn-border: 0px none !default;
$axui-datagrid-page-navigation-btn-border-radius: 5px !default;
$axui-datagrid-page-navigation-btn-bg: transparent !default;
$axui-datagrid-page-navigation-btn-font-size: 11px !default;
$axui-datagrid-page-navigation-btn-color: #222 !default;
$axui-datagrid-page-navigation-btn-hover-bg: #888 !default;
$axui-datagrid-page-navigation-btn-hover-color: #fff !default;

$axui-datagrid-page-status-font-size: 12px !default;
$axui-datagrid-page-status-padding: 10px !default;
$axui-datagrid-page-status-color: #222 !default;

//== scroll
$axui-datagrid-scroll-track-shadow: #ccc !default;
$axui-datagrid-scroll-track-border: 1px solid #ccc !default;
$axui-datagrid-scroll-track-bg-blur: rgba(220, 220, 220, 0) !default;
$axui-datagrid-scroll-track-bg: rgba(220, 220, 220, 0.7) !default;

$axui-datagrid-scroll-bar-border-radius: 10px !default;
$axui-datagrid-scroll-bar-border: 0px solid #fff !default;
$axui-datagrid-scroll-bar-bg-blur: transparent !default;
$axui-datagrid-scroll-bar-bg: #b9b9b9 !default;
$axui-datagrid-scroll-bar-hover-border: 0px solid #ccc !default;
$axui-datagrid-scroll-bar-hover-bg: #888888 !default;

//== body.row
$axui-datagrid-last-row-border: 1px solid #eee !default;
$axui-datagrid-row-bg-0: #f3f3f3 !default;
$axui-datagrid-row-bg-1: #fff !default;
$axui-datagrid-row-hover-bg: lighten(#cce2f3, 5%) !default;
$axui-datagrid-row-grouping-bg: #ffffe7 !default;
$axui-datagrid-row-selected: lighten(#b1d7fe, 10%) !default;

$axui-datagrid-row-added-bg: #fde894 !default;
$axui-datagrid-row-added-color: #222 !default;
$axui-datagrid-row-updated-bg: #dff0ff !default;
$axui-datagrid-row-updated-color: #222 !default;
$axui-datagrid-row-deleted-bg: #e6e6e6 !default;
$axui-datagrid-row-deleted-color: #888 !default;
$axui-datagrid-row-error-bg: #d8b6b6 !default;
$axui-datagrid-row-error-color: #222 !default;

//== body.cell
$axui-datagrid-cell-padding-row-selector: 5px !default;
$axui-datagrid-cell-padding: 3px 5px !default;

$axui-datagrid-cell-checkbox-border: 1px solid #ccc !default;
$axui-datagrid-cell-checkbox-border-radius: 3px !default;
$axui-datagrid-cell-checkbox-bg-colors: (#ffffff, #f0f0f0) !default;
$axui-datagrid-cell-disable-checkbox-bg-colors: (
  darken(nth($axui-datagrid-cell-checkbox-bg-colors, 2), 10%),
  darken(nth($axui-datagrid-cell-checkbox-bg-colors, 1), 10%)
) !default;
$axui-datagrid-cell-checkbox-arrow-color: #3372ff !default;

$axui-datagrid-cell-focused-box-shadow: inset 0px 0px 1px 1px #0581f2 !default;
$axui-datagrid-cell-focused-bg: lighten(#b1d7fe, 15%) !default;
$axui-datagrid-cell-focused-color: #000 !default;

$axui-datagrid-cell-selected-border-color: #ccc !default;
$axui-datagrid-cell-selected-bg: lighten(#b1d7fe, 10%) !default;
$axui-datagrid-cell-selected-color: #000 !default;

$axui-datagrid-cell-editInput-border: 1px solid #0581f2 !default;
$axui-datagrid-cell-updated-bg: #dff0ff !default;

//== resizer
$axui-datagrid-resizer-color: #ff3300 !default;
$axui-datagrid-resizer-size: 2px !default;

//== loader
$axui-datagrid-loader-bg: rgba(255, 255, 255, 0.85) !default;
$axui-datagrid-loader-color: rgba(0, 0, 0, 0.1) !default;
$axui-datagrid-loader-second-color: #767676 !default;
