@mixin axui-datagrid-sort-arrow(
  $arrow-size,
  $ratio-0,
  $ratio-1,
  $arrow-color,
  $opacity,
  $direction
) {
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  display: inline-block;
  border-left: $arrow-size/$ratio-0 solid transparent;
  border-right: $arrow-size/$ratio-0 solid transparent;
  @if ($direction == 'up') {
    border-bottom: ($arrow-size) / $ratio-1 solid $arrow-color;
  } @else {
    border-top: ($arrow-size) / $ratio-1 solid $arrow-color;
  }
  background: transparent;
  opacity: $opacity;
}

@mixin axui-datagrid-row-background() {
  &.hover {
    background: $axui-datagrid-row-hover-bg;
  }
  &[data-grouping-tr='true'] {
    background: $axui-datagrid-row-grouping-bg;
  }
  &[data-selected='true'] {
    background: $axui-datagrid-row-selected;
    td {
      //color: #fff;
      //box-shadow: inset 1px 1px 0px 0px #fff;
      &[data-column-attr='rowSelector'],
      &[data-column-attr='lineNumber'] {
        box-shadow: none;
      }
      &[data-column-attr='rowSelector'] {
        .axui-datagrid-check-box {
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  &[data-disable-selection='true'] {
    // background: $axui-datagrid-row-selected;
    td {
      &[data-column-attr='rowSelector'] {
        .axui-datagrid-check-box {
          cursor: not-allowed;
          //@include axui-background(to top, $axui-datagrid-cell-disable-checkbox-bg-colors);
          &:after {
            opacity: 0;
          }
        }
      }
    }
  }

  // mergeCells 대상 컬럼 배경생 통일.
  td.merged {
    background: $axui-datagrid-row-bg-1;
  }
}

@mixin axui-datagrid-cell() {
  box-sizing: border-box;
  //overflow: hidden;
  position: relative;
  padding: 0;
  border: 0 none;
  border-right: $axui-datagrid-column-border;
  border-bottom: $axui-datagrid-column-border;
  &:last-child {
    border-right: none;
  }
  &.axui-datagrid-header-column {
    cursor: default;

    [data-filter] {
      $filter-size: 6px;

      position: absolute;
      right: 4px;
      top: 50%;
      width: 14px;
      height: 14px;
      margin-top: -7px;
      cursor: pointer;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 3px;
      background: url('data:image/svg+xml;utf8, %3Csvg version=%221.1%22 xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 12 12%22%3E%3Cpath d=%22M7%2C7l4-4V1H1v2l4%2C4v4l2-2V7z%22/%3E%3C/svg%3E')
        no-repeat center center #fff;
      background-size: 8px;
      opacity: 0;

      /*
      &:before {
        @include axui-datagrid-sort-arrow(
          $axui-datagrid-header-sorter-size,
          2.8,
          2.2,
          $axui-datagrid-header-sorter-color,
          1,
          'down'
        );
        top: 50%;
        left: 50%;
        margin-top: -$axui-datagrid-header-sorter-size / 2.2 / 2.2;
        margin-left: -$axui-datagrid-header-sorter-size / 2.8;
      }
      */
    }
    [data-filter='true'] {
      opacity: 0.7;
    }

    &:hover {
      background: $axui-datagrid-row-hover-bg;
      [data-filter] {
        opacity: 0.7;
      }
    }
    &.selected {
      @include axui-background(
        to bottom,
        $axui-datagrid-header-column-focused-bg-colors
      );
    }
    &.focused {
      box-shadow: none;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border-top: 4px solid $axui-datagrid-header-column-focused-color;
        border-right: 4px solid transparent;
        border-bottom: 0 none;
        border-left: 4px solid transparent;
        margin-left: -4px;
      }
    }
  }
  &.axui-datagrid-header-corner {
    [data-span] {
      cursor: se-resize;
      &:before {
        $triangle-border-width: $axui-datagrid-font-size/4;
        position: absolute;
        right: $triangle-border-width;
        bottom: $triangle-border-width;
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-bottom: solid $triangle-border-width
          $axui-datagrid-header-column-color;
        border-right: solid $triangle-border-width
          $axui-datagrid-header-column-color;
        border-left: solid $triangle-border-width transparent;
        border-top: solid $triangle-border-width transparent;
      }
    }
  }
  &.axui-datagrid-line-number {
    [data-span] {
      cursor: e-resize;
    }
    &:hover {
      background: $axui-datagrid-row-hover-bg;
    }
    &.selected {
      @include axui-background(
        to right,
        $axui-datagrid-aside-column-focused-bg-colors
      );
      box-shadow: none;
    }
    &.focused {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-right: 0 none;
        border-bottom: 4px solid transparent;
        border-left: 4px solid $axui-datagrid-aside-column-focused-color;
        margin-top: -4px;
      }
    }
  }
  &.axui-datagrid-row-selector {
    &.focused {
      background: $axui-datagrid-aside-bg;
    }
  }
  &.selected {
    background: $axui-datagrid-cell-selected-bg;
  }
  &.focused {
    box-shadow: $axui-datagrid-cell-focused-box-shadow;
    background: $axui-datagrid-cell-focused-bg;
  }
  &.updated {
    background: $axui-datagrid-cell-updated-bg;
  }

  [data-span] {
    user-select: none;
    box-sizing: border-box;
    display: block;
    padding: $axui-datagrid-cell-padding;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;

    &[data-multiLine] {
      white-space: normal;
    }
    &[data-align='left'] {
      text-align: left;
    }
    &[data-align='center'] {
      text-align: center;
    }
    &[data-align='right'] {
      text-align: right;
    }

    [data-resizer] {
      position: absolute;
      right: 0;
      top: 0;
      width: $axui-datagrid-header-column-resizer-size;
      height: 100%;
      cursor: col-resize;
      &:hover {
        background: $axui-datagrid-header-column-resizer-color;
        opacity: 0.5;
      }
    }
    [data-sorter] {
      position: relative;
      font-size: 10px;
      margin-right: 14px;
      display: inline-block;
      background: $axui-datagrid-header-column-sorter-bg-color;
      border-radius: 2px;
      line-height: 10px;
      padding: 2px 2px;

      &[data-sorter-order='asc'] {
        &:before {
          top: 2px;
          right: -9px;
          @include axui-datagrid-sort-arrow(
            $axui-datagrid-header-sorter-size,
            2.5,
            2,
            $axui-datagrid-header-sorter-color,
            0.8,
            'up'
          );
        }
        &:after {
          display: none;
        }
      }
      &[data-sorter-order='desc'] {
        &:before {
          display: none;
        }
        &:after {
          bottom: 2px;
          right: -9px;
          @include axui-datagrid-sort-arrow(
            $axui-datagrid-header-sorter-size,
            2.5,
            2,
            $axui-datagrid-header-sorter-color,
            0.8,
            'down'
          );
        }
      }
    }
  }
  [data-span='rowSelector'] {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
  }

  // todo : $axui-datagrid-cell-editInput-border 변수 정리
  [data-inline-edit] {
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: $axui-datagrid-cell-editInput-border;
    display: block;
    outline: none;
    padding: $axui-datagrid-cell-padding;
    font-size: inherit;
  }

  [data-span='checkbox-editor'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    .axui-datagrid-check-box {
      flex: none;
    }
    label {
      display: inline-block;
      padding-left: $axui-datagrid-cell-padding-row-selector;
    }
    &.disabled {
      opacity: 0.5;
      filter: grayscale(100%);
    }
  }

  .axui-datagrid-check-box {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    border: $axui-datagrid-cell-checkbox-border;
    border-radius: $axui-datagrid-cell-checkbox-border-radius;
    @include axui-background(to bottom, $axui-datagrid-cell-checkbox-bg-colors);
    height: 100%;
    width: 100%;
    &:after {
      content: '';
      width: 60%;
      height: 40%;
      position: absolute;
      top: 20%;
      right: 20%;
      border: 0.2em solid $axui-datagrid-cell-checkbox-arrow-color;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-50deg);
    }

    &[data-checked='true'] {
      &:after {
        opacity: 1;
      }
    }
  }
}

@mixin axui-datagrid-data-arrow() {
  [data-arrow] {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $axui-datagrid-scroll-bar-bg-blur;
    cursor: pointer;
    &:hover {
      border-color: $axui-datagrid-scroll-bar-hover-bg;
    }

    /*
    border-bottom: solid $triangle-border-width $axui-datagrid-scroll-bar-bg;
    border-right: solid $triangle-border-width transparent;
    border-left: solid $triangle-border-width transparent;
    border-top: 0 none;
    */
  }
}

@mixin axui-datagrid-frozen-border($type: 'vertical') {
  &:after {
    content: ' ';
    display: block;
    position: absolute;

    @if $type == 'vertical' {
      border-right: $axui-datagrid-frozen-line-border;
      top: 0;
      right: 0;
      height: 100%;
    } @else if $type == 'bottom-horizontal' {
      border-top: $axui-datagrid-frozen-line-border;
      top: 0;
      left: 0;
      width: 100%;
    } @else {
      border-bottom: $axui-datagrid-frozen-line-border;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    @content;
  }
}

.axui-datagrid {
  position: relative;
  background: $axui-datagrid-bg;
  overflow: hidden;

  &:focus {
    outline: $axui-datagrid-outline;
  }
  &:hover,
  &:focus {
    .axui-datagrid-scroll-bar {
      background: $axui-datagrid-scroll-bar-bg;
    }
    .axui-datagrid-scroller {
      [data-scroll-track='vertical'] {
        background: $axui-datagrid-scroll-track-bg;
      }
      [data-scroll-track='horizontal'] {
        background: $axui-datagrid-scroll-track-bg;
      }

      [data-scroll-arrow] {
        [data-arrow] {
          border-color: $axui-datagrid-scroll-bar-bg;
        }
      }
    }
  }

  table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    border: 0 none;
    width: 100%;
    tr {
      border-bottom: 0 none;
      @include axui-datagrid-row-background();
      td {
        @include axui-datagrid-cell();
      }
    }
  }

  [data-panel] {
    position: absolute;
    box-sizing: border-box;
  }
  [data-scroll-container] {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
  }
}
